/* Header */
header{
display:block;
width: 1219px;
height: 84px;
padding-left: 55px;
padding-right: 55px;
background: #007765;
}
/* logo */
.logo{
width: 184px;
height: 45px;
float: left;
margin-left: 200px;
margin-top: 20px;
}
header p {
  display: inline;
  float: right;
  margin-right: 50px;
  color: #FFFFFF;
  font-family: Roboto, serif;
}
header a {
color: #FFFFFF;
font-family: Roboto, serif;
}
.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.Jambotron{
  width: 1219px;
  height: 403px;
  padding-left: 55px;
  padding-right: 55px;
  background: url(files/Jambotron.svg);
  background-position: top;
  background-size: contain;
  text-align: center;
}
.Jambotron p{
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 72px;
}
.The_problem{
  width: 1219px;
  height: 719px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
}
