/* Header */
header{
width: 1219px;
height: 84px;
padding-left: 55px;
padding-right: 55px;
margin: -8px auto 0px auto;
background: #007765;
}
/* logo */
.logo{
width: 184px;
height: 45px;
float: left;
margin-left: 200px;
margin-top: 20px;
}
header p {
  display: inline;
  float: right;
  margin-right: 50px;
  color: #FFFFFF;
  font-family: Roboto, serif;
}
header a {
color: #FFFFFF;
font-family: Roboto, sans-serif;
}
.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.Jambotron{
  width: 1219px;
  height: 403px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0px auto 0px auto;
  background: url(files/Jambo.svg);
  background-position: top;
  background-size: contain;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.Jambotron p{
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 72px;
}
.The_problem{
  width: 1219px;
  height: 719px;
  padding-left: 55px;
  padding-right: 55px;
  margin: -50px auto 0px auto;
  background: #EEEEEE;
}
.The_problem h1{
text-align: center;
font-family: Roboto, sans-serif;
font-size: 64px;
color: #007765;
padding-top: 47px;
}
.The_problem p{
font-family: Roboto, sans-serif;
font-size: 32px;
}
.Hero{
  width: 1219px;
  height: 483px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0px auto 0px auto;
  background: url(files/hero.svg);
  background-position: top;
  background-size: contain;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.Hero p{
  margin: 0px 163px auto 163px;
  padding-top: 128px;
  color: #FFFFFF;
  font-size: 48px;
  font-family: Roboto, sans-serif;
  font-style: italic;
}
