header{
position: fixed;
top: 0px;
left: 0px;
right: 0px;
width: auto;
height: 72px;
margin: auto;
background: #FFFFFF;
box-shadow: 0px 0px 10px 5px #E0E0E0;
}
.HeaderLine{
box-sizing: border-box;
max-width: 1184px;
height: 72px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
/* logo */
.logo{
width: 119.23px;
height: 12.31px;
margin-left: 9px;
}
.ButBusk{
margin-right: 8px;
display: flex;
justify-content: flex-end;
align-items: center;
}
/*Button*/
.ButInp{
font-family: arial,sans-serif;
font-size: 13px;
font-weight: bold;
color: #1D1D1D;
text-decoration: none;
user-select: none;
padding: 14px 20px;
outline: none;
border: 1px solid #E0E0E0;
border-radius: 2px;
margin: 16px;
}
/* basket */
.basket{
width: 40px;
height: 72px;
}
main{
margin: 72px auto 0px auto;
box-sizing: border-box;
max-width: 1184px;
}
.SearchCont{
max-width: 1184px;
padding-left: 8px;
padding-right: 8px;
}
.SearchRest{
width: 100%;
margin: 32px auto 0 auto;
font-size: 16px;
color: #626262;
border-style: none none solid none;
}
h1{
font: 22px sans-serif;
margin: 56px auto 0 auto;
padding-left: 8px;
}
.RestList{
width: 100%;
margin: 16px auto 0 auto;
}
.RestCard img{
width: 100%;
height: auto;
}
h2{
font: 16px sans-serif;
}
.Price{
font: 14px sans-serif;
color: #626262;
}
.Time{
font: 13px sans-serif;
margin-bottom: 36px;
}
footer{
width: auto;
margin: auto;
background: #262626;
}
.FootConteiner{
margin: 72px auto 0px auto;
box-sizing: border-box;
max-width: 1184px;
}
.FootLogo{
width: 192px;
height: 20px;
padding-top: 56px;
margin-left: 9px;
padding-bottom: 40px;
}
.FootContent{
width: 100%;
margin: 32px auto 0 auto;
}
