header{
position: fixed;
top: 0px;
left: 0px;
right: 0px;
margin: auto;
box-sizing: border-box;
max-width: 1124px;
height: 72px;
background: #E0E0E0 /*#FFFFFF*/;
display: flex;
}
/* logo */
.logo{
width: 119.23px;
height: 12.31px;
margin: auto;
float: left;
vertical-align: middle;
}
/*Button*/
.ButInp{
margin: auto;
float: right;
vertical-align: middle;
font-family: arial,sans-serif;
font-size: 13px;
font-weight: bold;
color: #1D1D1D;
text-decoration: none;
user-select: none;
padding: 14px 20px;
outline: none;
border: 1px solid #E0E0E0;
border-radius: 2px; l
}
/* basket */
.basket{
width: 40px;
height: 72px;
margin: auto;
float: right;
vertical-align: middle;
}
