.FixedHeader{
position: fixed;
top: 0px;
left: 0px;
right: 0px;
width: auto;
height: 72px;
margin: auto;
background: #FFFFFF;
box-shadow: 0px 0px 10px 5px #E0E0E0;
}
.HeaderLine{
box-sizing: border-box;
max-width: 1184px;
height: 72px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
/* logo */
.logo{
width: 119.23px;
height: 12.31px;
margin-left: 9px;
}
.ButBusk{
margin-right: 8px;
display: flex;
justify-content: flex-end;
align-items: center;
}
/*Button*/
.ButInp{
font-family: arial,sans-serif;
font-size: 13px;
font-weight: bold;
color: #1D1D1D;
text-decoration: none;
user-select: none;
padding: 14px 20px;
outline: none;
border: 1px solid #E0E0E0;
border-radius: 2px;
margin: 16px;
}
/* basket */
.basket{
width: 40px;
height: 72px;
}
.MainBody{
position: relative;
}
.ButUp{
position: fixed;
bottom: 16px;
right: 20px;
width: 80px;
height: 80px;
}
.MainPage{
margin: 72px auto 0px auto;
box-sizing: border-box;
max-width: 1184px;
}
.SearchCont{
max-width: 1184px;
padding-left: 8px;
padding-right: 8px;
}
.SearchRest{
width: 100%;
margin: 32px auto 0 auto;
font-size: 16px;
color: #626262;
border-style: none none solid none;
}
h1{
font: 22px sans-serif;
margin: 56px auto 0 auto;
padding-left: 8px;
}
.RestList{
width: 100%;
margin: 16px auto 0 auto;
}
.RestCard img{
width: 100%;
height: auto;
}
h2{
font: 16px sans-serif;
}
.Price{
font: 14px sans-serif;
color: #626262;
}
.Time{
font: 13px sans-serif;
margin-bottom: 36px;
}
footer{
width: auto;
margin: auto;
background: #262626;
}
.FootConteiner{
margin: 72px auto 0px auto;
box-sizing: border-box;
max-width: 1184px;
}
.FootLogo{
width: 192px;
height: 20px;
padding-top: 56px;
margin-left: 9px;
padding-bottom: 40px;
}
.FootContent{
width: 100%;
margin: 32px auto 0 auto;
}
.LangSlct{
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
width: 100%;
height: 40px;
font: 13px sans-serif;
padding-left: 48px;
color: #FFFFFF;
background: #3B3B3B;
background-image: url("Img/world.svg"),url("Img/arrow.svg");
background-repeat: no-repeat,no-repeat;
background-position: 20px center, 95% center;
border-style: none;
}
.UberLogo{
padding: 33px 0 0 0;
}
.UberLogo a{
font: 16px sans-serif;
text-decoration: none;
}
.social{
padding: 16px 0 0 0;
display: inline-block;
}
.FootRow2 a{
font: 13px sans-serif;
color: #FFFFFF;
text-decoration: none;
padding: 23px 0 0 0;
}
.GooglApp{
display: flex;
justify-content: center;
}
.GooglApp div{
padding: 40px 20px 40px 20px;
}
.LowLine a{
font: 11px sans-serif;
color: #FFFFFF;
text-decoration: none;
}

/*Pushkin rest styles*/
.JamboContein{
margin: 72px 0 0 0;
width: 100%;
padding-left: 0;
padding-right: 0;
}
.Jambotron{
width: 100%;
height: 364px;
margin: 0px;
background-image: url("Img/Pushkin.svg");
background-size: cover;
background-repeat: no-repeat;
}
.JambotronXS{
width: 100%;
height: 255px;
margin: 0px;
background-image: url("Img/Pushkin.svg");
background-size: cover;
background-repeat: no-repeat;
}
.RestNameBox{
max-width: 1184px;
margin: auto;
display: flex;
align-items: center;
}
.RestName{
width: 100%;
height: 204px;
margin-top: 80px;
background: #FFFFFF;
text-align: center;
}
.RestNameXS{
width: 100%;
height: 180px;
margin: 131px 8px 0px 8px;
padding-left: 8px;
padding-right: 8px;
background: #FFFFFF;
box-shadow: 0px 0px 10px 5px #E0E0E0;
text-align: center;
}
.RestName h1{
font: 36px sans-serif;
color: #1D1D1D;
margin: 38px auto 0 auto;
}
.RestNameXS h1{
font: 24px sans-serif;
color: #1D1D1D;
padding-top: 24px;
margin: 0 auto 0 auto;
}
.RestComment{
margin-top: 62px;
margin-bottom: 46px;
display: flex;
justify-content: space-around;
align-items: center;
}
.RestCommentXS{
display: flex;
flex-direction: column;
}
.TimePush{
font: 13px sans-serif;
padding: 8px 16px 8px 16px;
color: #FFFFFF;
background-color: #262626;
border-radius: 16px;
}
.TimeConteiner{
width: 98px;
margin: auto;
}
.MenuContein{
width: 100%;
height: 80px;
margin: auto;
color: #626262;
border-style: none none solid none;
border-width: 1px;
}
.MenuBox{
max-width: 1184px;
height: 80px;
box-sizing: border-box;
margin: auto;
padding: 20px 0 30px 0;
}
.MenuXS{
width: 100%;
margin: 0;
padding: 112px 0 30px 0;
text-align: center;
}
.Menu ul{
padding-left: 0px;
}
.Menu ul li{
display: inline-block;
text-align: left;
font: 16px sans-serif;
padding-right: 20px;
color: #626262;
}
.Menu a{
text-decoration: none;
color: #626262;
}
.Menu a:active{
color: #327430;
}
.MenuXS a{
text-decoration: none;
font: 22px sans-serif;
color: #1D1D1D;
}
.MenuXS hr {
border: none; /* Убираем границу */
background-color: #757575; /* Цвет линии */
color: #757575; /* Цвет линии для IE6-7 */
height: 1px; /* Толщина линии */
width: 50px;
margin-top: 12px;
}
.MenuXS h1{
font: 22px sans-serif;
color: #1D1D1D;
padding-top: 56px;
}
.PushkinDishes{
max-width: 1184px;
margin: 0px auto 0px auto;
}
.DishesCont{
width: 100%;
margin: 0 auto 0 auto;
}
.PushkinDishes h1{
font: 22px sans-serif;
color: #1D1D1D;
margin: 0px;
padding: 56px 0 0 0;
}
.SnakList{
width: 100%;
margin: 16px auto 0 auto;
}
.Snak{
margin-top: 32px;
height: 160px;
padding: 0px 0px 0px 16px;
display: flex;
justify-content: space-between;
border-style: solid;
border-color: #D8D8D8;
border-width: 1px;
border-radius: 2px;
}
.SnakText{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.Snak h2{
font: 16px sans-serif;
color: #1D1D1D;
}
.Snak p{
font: 13px sans-serif;
color: #626262;
}
.Snak h3{
font: bold 15px sans-serif;
color: #1D1D1D;
}
.SnakImg{
width: auto;
height: 100%;
}
